html, body, #mapDiv {
	padding:0;
	margin:0;
	height:92%;
	width:100%;
	/*background-color: darkgray;*/
	font-family: helvetica, arial, sans-serif;
	font-size: 90%;
}
.soa{
	font-family: helvetica, arial, sans-serif;
	font-size: 200%;
	font-weight:bold;
	color:white;
	position:relative;
	display:inline-block;
	height:50px;
	right: 140px;
}			
#footer{
	height:12%;
	background-color: #860038;
	text-align: center;	
}	
#header{
	height:12%;
	background-color: #860038;
	text-align:center;
}	
#contact{
	text-decoration:none;
	padding: 5px 0 0 0;
	color: white;
	display: block;
}
#smallBar{
	height:5px;
	background-color:gray;
}
#medBar{
	height:15px;
	background-color:gray;
}
#largeBar{
	height:30px;
	background-color:gray;
}
#largeBarWhite{
	height:30px;
	background-color:white;
}
.esriScalebar{padding: 20px 20px; }

#leftPane {
	width: 310px;
	overflow: auto
}
/* this line hide layers when out of scale for the inline TOC */
#scaleDiv .agsTOCOutOfScale {
	display: none;
}
.esriPrint{
	height:20px;
	float: left;
	padding: 0;
}
.esriPrintout{
  color:#3D5229;
  text-decoration:none;
}
.floatTop{
	z-index: 9999;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}		

#search_tab {
position: absolute;
height: 170px;
width: 45px;
left: -45px;
top: 455px;
background: url(/ARFireDist/img/side_tab_1.png) no-repeat;
cursor: pointer;
z-index: 999;
}
.dojoxFloatingPaneWrapper {
	padding:8px;
}
.dojoxFloatingPane {
	padding:0 !important;
	border:solid 1px #eee !important;
}
.dojoxFloatingPaneTitle {
	border: 1px solid #ffffff;
	border-top: none;
	background-color: #eee;
	background-image: url("http://ajax.googleapis.com/ajax/libs/dojo/1.9.1/dijit/themes/claro/images/standardGradient.png");
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
	background-image: -o-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
	background-image: linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
	_background-image: none;
	padding: 5px 7px 4px 7px;
}
.dojoxFloatingPaneContent {
	border-top:solid 1px #769DC0;
	padding:0;
	overflow:hidden
}
.dojoxFloatingMinimizeIcon {
	/*custom minimize icon if desired*/
}
.shadow {
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
     border-radius:6px;
    -moz-box-shadow:0 6px 3px -3px #888;
    -webkit-box-shadow:0 6px 3px -3px #888;
    box-shadow:0 6px 3px -3px #888;
    background-color:#FFF;
    border:solid 4px #eee;
    padding:8px;
}
.dojoxDock {
    display: block;
    border: 4px solid black;
    position: absolute;
    padding: 0;
    margin: 0;
    background: darkgray;
    width:80%;
}
#IEA_Watermark {
  position: absolute;
  bottom: 40px;
  left: 20px;
  z-index: 50;
}

#AFD_Watermark {
  position: absolute;
  bottom: 40px;
  right: 20px;
  z-index: 50;
}