.OverviewInfo span {
display:none;
}

.OverviewInfo .overviewinfo {
	padding:0px;
	width:30px;
	height:30px;
	background-color: #666;
	background-color: #FFF;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	cursor:pointer;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	border-radius:0px;
	/*border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;*/
	border:2px solid #666;	
	background-image:url(../img/glossy_arkansas.jpg);
	background-position:center center;
	background-repeat:no-repeat;
}

.OverviewInfo .home:hover {
	background-color: #eee;
	/*background-color: rgba(102,102,102,0.90);*/
}

.OverviewInfo .home:active {
	background-color: #ccc;
	background-color: rgba(102,102,102,0.60);
}

.OverviewInfo .loading {
	background-image:url(home/images/home-spinner.gif);
}