.HomeButton span {
display:none;
}

.HomeButton .home {
	padding:0px;
	width:30px;
	height:30px;
	background-color: #666;
	background-color: #FFF;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	cursor:pointer;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	border-radius:0px;
	/*border-top-left-radius: 5px;
	border-top-right-radius: 5px;*/
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border:2px solid #666;	
	background-image:url(../images/home_bk.png);
	background-position:center center;
	background-repeat:no-repeat;
}

.HomeButton .home:hover {
	background-color: #eee;
	/*background-color: rgba(102,102,102,0.90);*/
}

.HomeButton .home:active {
	background-color: #ccc;
	background-color: rgba(102,102,102,0.60);
}

.HomeButton .loading {
	background-image:url(../images/home-spinner.gif);
}